[2016-08-14 03:50] qdot opened #1 "Figure out how resource (icon) embedding will work on windows"
From #rust:
https://gitlab.com/DanielKeep/wui/blob/master/wui-build/src/lib.rs#L55-73

<WindowsFuzzyLop> qDot: You should give it a try, use `rc.exe` on foo.rc to get foo.res, then rename it to foo.lib and tell cargo to link dylib=foo

[2016-11-18 12:14] vext01 opened #2 "Add a crate?"
Hi,

Any chance this will make it to crates.io?

Thanks

[2016-11-18 17:59] qdot commented on #2
Yeah, that's the plan. Unfortunately right now it depends on a lot of additions to winapi-rs that, at the time I was last working on this, were going to be delayed until their 0.3 release. I'll check in with them and see what the status is on that, and if I can integrate my changes before that, hopefully we can get a crate going.

[2016-12-15 15:16] daniel-abramov commented on #2
I've noticed that your fork of winapi-rs contains some changes which are not present in ws-rs? Do you plan to adapt them to the 0.3 new order and make a pull request? Without them the systray-rs will not work I guess.

[2016-12-15 15:18] daniel-abramov commented on #1
What about `include_bytes!()`? Would this make a trick?
The user can place the icon somewhere inside the project folder (like the user would have to do in case of using resources), then this image is loaded on compile time using `include_bytes!()` macro. After that we can use those bytes to set up the icon image and apply it to the window.

[2017-02-22 15:17] LogoiLab opened #3 "Path Resources Should Be Added To Repo"
For example in `Cargo.toml` where you have the dependency line:

`winapi={ path = "../winapi-rs/" }`

Rewrite it to match:

`winapi={ path = "winapi-rs/" }`

Then put the local winapi folder inside the repository so that we can at least have a chance at compiling your code.

[2017-02-23 04:25] qdot commented on #3
Will do. Sorry, this project was making a lot of headway then got cut off due to life getting in the way. Hoping to get back to it soon. :)

[2017-02-23 04:26] #3 closed

[2017-02-23 06:27] qdot commented on #2
Ok, we actually have a crate now!

https://crates.io/crates/systray

I ended up bringing my patches for winapi-rs 0.3 into the windows module of systray-rs for right now, as well as copying over a couple of macros. I /really/ don't like this, but I also don't want to sit here stuck until winapi-rs decides to update crates.

I'll still be putting in patches to winapi-rs, and will be removing all of

[2017-02-23 06:27] #2 closed

[2017-02-23 06:28] qdot commented on #1
Hmm, yeah, that's totally a possibility, thanks! I'll take a look at that.

[2017-02-23 06:30] qdot opened #4 "Add OS X core"
Got permission from @jmquigs months ago to adapt code from rs-barfly (https://github.com/jmquigs/rs-barfly) to systray, meaning less porting weirdness from go's systray library. Just need to get around to actually doing this.

[2017-02-23 06:31] qdot opened #5 "Add Linux core"
From the looks of the go library implementation, this doesn't look like it's gonna be fun.

[2017-02-23 08:54] daniel-abramov commented on #1
Oh, I've already solved this issue in the fork. As you did not replied in the beginning, I thought that you do not maintain the project anymore, so I made a fork and made the fixes to make it compilable. After that I implemented the requested behavior.

Here is the commit: https://github.com/snapview/systray-rs/commit/2a7a597118e88f82ae83701a4594e72584f85d1e

[2017-02-23 17:15] qdot commented on #1
@application-developer-DA Oh, sorry. :( I had to move houses over the past couple of months which meant my participation dropped to zero and I started missing bugs. If you want to put in a pull request, I'd be happy to integrate your patches and put up a new crate version.

[2017-02-24 18:35] jonhoo commented on #5
FWIW, I really really really want to port https://github.com/jonhoo/hasmail to Rust, so I'm very excited about the prospect of getting a decent Rust systray implementation :D

[2017-02-25 02:59] qdot commented on #5
Ok. Step 1 is making libappindicator bindings. That'll be happening over here: https://github.com/qdot/libappindicator-sys

Once I get those done (which hopefully, using rust-bindgen, won't take too long, but it's my first time trying that), I /think/ porting this will just be a combination of using those bindings and gtk-rs.

[2017-02-27 11:58] daniel-abramov commented on #1
@qdot I can do that, but the problem is that we have a different list of dependencies. My fork relies on forks of `winapi-rs`, I've made quite a few changes in `winapi-rs`, for each of them I made a pull request to the `winapi-rs`, they were accepted by the maintainer for the new generation `winapi-rs`. Since the `0.3` version of `winapi-rs` is not production ready at the moment, I still have to u

[2017-02-27 21:46] qdot commented on #1
Yeah, we'll have to do a bit of commit surgery to get this to work, but it shouldn't be too bad. In order to get systray on crates.io, I went the other route and brought in my winapi patches into the windows module here. Not my preferred option, but I was waiting for winapi-rs 0.3 when I first started this project, and it looked like things hadn't moved at all on the 0.2 branch, so this is a stop

[2017-02-27 23:54] qdot commented on #1
@application-developer-DA Ok. Check out

https://github.com/qdot/systray-rs/commits/winicon-merge

I merged your changes (usually I'd rebase but I'll make an exception in this instance :) ), and did a little bit of conflict resolution in the merge. Only big change was the dependencies in the cargo file. Things seem to compile fine for me.

If everything looks good to you, let me know and I'll merg

[2017-02-28 04:13] qdot opened #6 "Figure out how to build linux dependencies around Cargo bug"
The cargo bug at

https://github.com/rust-lang/cargo/issues/3512

affects us, via the gtk libraries. I've filed https://github.com/gtk-rs/gtk/issues/457#issuecomment-282925402 on the gtk crate, which is hopefully getting a version bump soon, and may fix this. Until then, we can't really distribute linux stuff via crates.io. :/

[2017-02-28 04:15] qdot opened #7 "Move menu item index/callback management to library level"
Menu item indexes and callbacks are currently managed per platform. This is because I just threw everything into the windows implementation to get something working when the project first started. Since item indexes and callbacks will be required on all platforms and don't have anything to do with specific platforms, this code could be moved into the main library.

[2017-02-28 06:11] qdot opened #8 "Add ability to update menu items"
The user should get back a menu id (or even a menu item struct?) they can do whatever with, and should be able to use it as reference to update a menu item if they need to.

[2017-02-28 06:11] qdot opened #9 "Add ability to remove menu items"
User should be able to remove menu items.

[2017-02-28 09:24] daniel-abramov commented on #1
@qdot Looks fine for me.

Given that you used merge, I guess that I'll have to use merges as well (for the future contributions). I'm also planning to add a mac implementation soon (I saw that you have some plans for that too).

[2017-02-28 17:21] qdot commented on #1
@application-developer-DA From here on out, you can just rebase. The only reason I merged this time around is because we weren't really synced up when you first made the patches and rebasing would've meant changing your code, and I try not to do that if I don't know the contributor well.

As for the mac implementation, just a heads up... I've got core API changes coming into the linux-core branch

[2017-02-28 17:30] qdot commented on #1
Closing out (forgot to put the fixes tag in my conflict commit). Reference commit 183319e4f412802dd59c715be647f5a6dd819b1e

[2017-02-28 17:30] #1 closed

[2017-02-28 18:11] qdot opened #10 "Hook up menu item checking"
Add ability to put checkmarks next to menu items to make on/off selections.

[2017-02-28 18:12] qdot opened #11 "Add ability to disable menu items"
User should be able to disable (but not remove) menu items.

[2017-03-02 01:48] qdot commented on #5
So as of right now, the linux-core branch is basically usable. It'll make a systray menu with an icon, and you can add items to it that will call closures. I'm going to work on updating the windows code to work with the new format, then merge everything back into master.

As for getting this onto crates.io, that's a little more difficult, due to #6. I'm hoping the gtk project will cut new releases

[2017-03-02 04:28] jonhoo commented on #5
A minor point, but [`set_icon_from_stock`](http://gtk-rs.org/docs/gtk/struct.StatusIcon.html#method.new_from_stock) would be a really nice addition. The stock names can be found under `GTK_STOCK_*` [here](http://gtk-rs.org/docs/gtk_sys/index.html#constants).

[2017-03-02 04:33] qdot opened #12 "Cross-platform set_icon_from_resource?"
On windows, we can set an icon via a resource name. On linux, we can use set_icon_from_stock or themes. Not sure what the situation on mac is. Is there a way to unify all of these under the same generic function?

[2017-03-02 04:33] jonhoo commented on #5
It's also unfortunate that `wait_for_message` takes `&mut self`, as it means I can't have another thread concurrently running that updates the status icon :/

[2017-03-02 04:33] qdot commented on #5
@jonhoo I'm trying to figure out what icon "resources" should look like, since we can load from resource on windows, from themes/stock on linux, and haven't even bothered to check what the situation on os x is. Filed #12 to follow up on that.

[2017-03-02 04:34] qdot commented on #5
@jonhoo Yeah just file issues for all this stuff. This bug was just to get something working on > 1 platform, so we could start solidifying the general API a bit more.

[2017-03-02 06:22] jonhoo commented on #5
Also, if you're curious, first user of `systray-rs` is now up: [buzz](https://github.com/jonhoo/buzz).

[2017-03-02 06:30] qdot commented on #5
@jonhoo Great! Just curious, are you only supporting this on linux, or will it be on other platforms too? I'm trying to figure out what I'm going to do about branching for linux support while I wait for the gtk crate version updates.

[2017-03-02 07:00] qdot opened #13 "Make systray::Application amenable to being shared across threads"
Due to lack of any design focus while building systray, wait_for_message takes &mut self, which means we can't easily share the Application object between threads and also wait for menu selections. That makes is less than useful for things like updating the icon without some sort of interaction (see https://github.com/qdot/systray-rs/issues/5#issuecomment-283553657). Figure out a nice way to deal

[2017-03-02 07:03] qdot opened #14 "Should menu items have tooltips?"
On linux, at least, this could be a thing. I'm not sure whether it'd be a /good/ thing, but it could totally be a thing.

[2017-03-02 07:04] qdot opened #15 "Figure out systray icon tooltip on linux"
I'm not real sure how to set a tooltip for the systray icon itself on linux/gtk. libappnotifcation had many threads fighting about this in 2010-2011, then silence. I'm not sure if other projects are using a combination of GtkStatusIcon and libappindicator or what. Looked at the Parcellite source code and it wasn't a ton of help.

[2017-03-02 07:12] qdot opened #16 "Remove winapipatch.rs when winapi 0.3 lands"
Most if not all of the symbols we need are already in winapi 0.3. Until that publishes to crates.io, we're stuck using our winapipatch.rs file. This is a reminder bug to clean that up once it happens.

[2017-03-02 07:16] qdot commented on #13
@jonhoo If you've got any good ideas for this, let me know. I'm still not super familiar with Rust yet so I'm not sure if there's a idiom I may be missing.

[2017-03-02 15:58] jonhoo commented on #5
For now it is Linux-only since that's the platform I'm using. However, down the line I could see both macOS and Windows support. The biggest barrier to that apart from `systray-rs` is a) a way to do notifications cross-platform (buzz currently just invokes `notify-send`), and b) finding the right config file paths on those platforms.

I think having a `git` dependency and not pushing an updated ve

[2017-03-02 16:00] jonhoo commented on #16
Or just add a `git` dependency for now? If you're already doing that for Linux support, I'd just clean this up straight-away too.

[2017-03-02 16:09] jonhoo commented on #15
The Go implementation of gtk just uses `gtk_status_icon_set_tooltip_text` both for [gtk2](https://github.com/mattn/go-gtk/blob/master/gtk/gtk.go#L2519) and [gtk3](https://github.com/gotk3/gotk3/blob/master/gtk/gtk_deprecated_since_3_14.go#L306). Unfortunately it seems `gtk_status_icon_set_tooltip_text` is deprecated since gtk 3.14. After that, it seems they're using [`gtk_entry_set_icon_tooltip_te

[2017-03-02 16:09] jonhoo commented on #14
To me personally this is not all that important :p

[2017-03-02 16:21] jonhoo commented on #13
So, making it `&` instead of `&mut` doesn't actually help, because it still blocks the current thread when called, which precludes the application from doing anything to the `Application` while handling events. If `Application` was `Sync` (i.e., safe to access from multiple threads at once, which I don't know if is the case today?), then `&Application` is `Send`, so I could send off handles to the

[2017-03-02 16:42] jonhoo opened #17 "Warnings when running on Linux"
When running buzz:
[code]

[2017-03-02 19:20] qdot commented on #13
I think I can do this by making the event receive channel member of the struct public. That way, we can just clone it and don't have to access the object itself while running .recv(), solving the event locking problem. It also gives users more choice in where to put that, in case they want to pool it with other channels or something.

[2017-03-02 19:36] jonhoo commented on #13
Why would it need to be public? Having access to an `&mut` of the channel or something might be okay, but then you also need a mechanism to pass the received events back into `Application` so that the right callbacks are called. Also, the channel still wouldn't be able to pass between threads, so you're then forcing the user to use channels and the unstable `select` feature :/

[2017-03-02 19:49] qdot commented on #16
Huh. For some reason I was under the impression that git dependencies weren't allowed in crates. I'll fix that, thanks!

[2017-03-02 19:50] qdot commented on #15
... I have no idea why I didn't see that in go's systray. That should work for us, will get it implemented for the linux core branch before merge.

[2017-03-02 19:55] qdot commented on #13
Ok, well, for now I can at least figure out a way to remove the dependency on &mut self/&self in wait_for_message (which I also need to rename to just something like run_message_loop heh) and we can continue from there, just to get a bit more functionality going. I've got a test case for changing an icon in another thread that I'm trying to make work, once I get something going for that I'll put i

[2017-03-02 20:10] jonhoo commented on #16
Git dependencies are allowed, but you can't then upload the crate to crates.io.

[2017-03-02 20:13] jonhoo commented on #13
Yeah, it is really unfortunate that select is unstable. See https://github.com/rust-lang/rust/issues/27800. And it doesn't seem like there's been any progress on it lately. Forcing the user to handle events on another thread is annoying, I agree, but it might be the best you can do until select stabilizes :(

[2017-03-03 13:29] daniel-abramov commented on #12
I think we can do something similar to what I've done when I worked on  `set_icon_from_buffer()` for Windows. Since resource topic is something that is not unified across platforms, we can use `include_bytes!()`, this gives us some sort of "crossplatform resources" I guess. In this case the only thing we have to support is a function which accepts the icon as a slice (perhaps `&'static [u8]`). I i

[2017-03-03 13:37] daniel-abramov commented on #4
Other than that, not sure if you saw in #4, but we've got permission to port rs-barfly, so there's starter code there if you're interested.

Yes, I saw that. Although `rs-barfly` contains some useful hints on how to implement callbacks, some code is not even compilable. I implemented some basic things for the tray icon (the tray icon itself) for Mac (see comments from 1st of March https://github.c

[2017-03-03 13:39] daniel-abramov commented on #14
It seems that on Mac such possibility does not exist. There are no tooltips for other applications (including system ones). And judging from the official documentation, the tooltip property is deprecated (https://developer.apple.com/reference/appkit/nsstatusitem), the configuration for the tray icon itself has to be done via `button` property which basically is a `NSButton`.

[2017-03-03 20:24] qdot commented on #12
Ok. I'll see if there's something available in gtk that would accept that kind of argument too. You familiar with anything @jonhoo? The Go systray thing I was cribbing off of takes a blob, saves to it /tmp, and opens that file, which seems hacky.

[2017-03-03 20:25] qdot commented on #14
Yeah, just checked on my mac, the only thing that pops a tooltip on mouseover is Dropbox, and they're probably doing something special to pull that off. Gonna WONTFIX this at least, as I think tooltip per menu item would probably get silly fast.

[2017-03-03 20:25] #14 closed

[2017-03-03 20:28] qdot commented on #16
Ok, well, we'll just have a few branches then. Will probably keep master as head of development, with git repo dependencies for what we need, can take feature branches off of that. Will make a "crate" branch for code we can actually submit to crates.io for the moment, which will go away once winapi 0.3 and the linux gtk stuff are usable off crates.io. Tags will point to the crate branch until we c

[2017-03-03 20:37] qdot commented on #4
Ok, cool. Hadn't really taken much of a look at the barfly stuff myself, just knew it was there and possibly working. I'll keep an eye on your fork, great to see icons are at least up and running! We'll probably need to sync up at some point about how threading is going to work between all these platforms too.

[2017-03-03 21:15] jonhoo commented on #12
Closest I can think of is [`gtk_status_icon_set_from_pixbuf`](https://developer.gnome.org/gtk3/stable/GtkStatusIcon.html#gtk-status-icon-set-from-pixbuf), but like everything else relating to tray icons this has been deprecated in 3.14 :(

[2017-03-04 20:00] qdot commented on #6
The gtk package updated, so we're good now. Should be able to host linux as part of the crates.io package once the branch is merged!

[2017-04-07 17:24] bbigras commented on #13
Is it possible right now to update the icon while wait_for_message() is looping?

[2017-04-07 19:05] bbigras commented on #13
In the mean time I'm using a custom `wait_for_message()`.

[code]

[2017-04-07 19:23] qdot commented on #13
@bbigras That /should/ be a thing, right now it's just not because I didn't architect this well. Hoping to get back to finishing this up soon, with things like that in mind.

[2017-05-04 22:32] jonhoo commented on #15
@qdot Any progress on this? I'd really like `linux-core` to be merged so that I can stop using systray as a git dependency :)

[2017-05-04 22:36] qdot commented on #15
@jonhoo Oh, uh, wow, sorry. I am easily distractable, heh.

Are you using linux-core right now? I think most of the reason that branch was there was because of the gtk-sys api exposure stuff, which did finally get worked out. Assuming that's the case, I can go ahead and merge the branch at least so we can get it into crates.io, call that v0.2, and boot this to v0.3.

[2017-05-04 22:41] jonhoo commented on #15
Hehe, no worries! I know what that's like. Yes, I'm using `linux-core` for [buzz](https://github.com/jonhoo/buzz), essentially because I'm only running it on Linux at the moment. Merging and then dealing with tooltip text in 0.3 seems perfectly reasonable!

[2017-05-04 22:52] #5 closed

[2017-05-04 22:52] #6 closed

[2017-05-04 22:52] #7 closed

[2017-07-05 14:59] mzji opened #19 "Using `&str` instead of `&String` in all function prototypes"
Allowing using static string slice references will enhance performance.

[2017-07-08 16:28] mzji opened #20 "[Windows] Explicit destroy `WindowsLoopData` after returning from message loop"
i.e. Insert following code between line 260 and line 261 of file `src/api/win32/mod.rs` @ rev 3a013db7fce03dff55559e0692da4122c0d5f73a :
[code]

[2017-07-24 02:18] zaaack opened #21 "MacOS Build Error"
[code]

[2017-07-24 03:06] #21 closed

[2017-07-31 14:12] zaaack commented on #4
Any update on macos?

[2017-07-31 15:21] daniel-abramov commented on #4
From my side I can only tell that I was able to create a tray icon (back then) and display it, but unfortunately I did not have time to add an additional functionality.

Perhaps it would make sense to merge my fork into master branch (at least it allows you to show a working tray icon in Mac, but it does not allow you to specify your own callbacks).

[2017-07-31 15:22] daniel-abramov commented on #4
Oh, also I was not able to create a tray icon from an arbitrary thread, it seems that there are some limitations in Mac OS for such things. I had to start the tray icon in a main thread, otherwise the application crashed; not sure how to overcome this limitation (it could be that it is not possible).

[2017-07-31 22:32] zaaack commented on #4
Anyway to add callback? I tried barfly, but it cannot modify the tray menu in the callback...

[2017-07-31 22:48] qdot commented on #4
AFAIK, we have to keep everything GUI wise on the same thread at the loop running the GUI. If someone has pull requests for me, that'd be awesome, happy to take them. I /am/ hoping to get back to this project at some point, just busy on some other releases for at least the next few weeks.

[2017-08-01 08:04] daniel-abramov commented on #4
Once I added some sort of a callback and it worked out for me after spending some time on writing "hacks" (which were required to make it work), but I did not push these changes to any of the repositories as they were mostly supposed to be for local tests and the code was not clean enough. I have not tried to modify the tray menu from the callback though.

[2017-08-01 08:16] zaaack commented on #4
@application-developer-DA Can you push to a temporary branch? Although I'm a rust new bee and might not help much. A cross-platform tray library is really meaningful since most GUI library doesn't provide one, hope you can figure out a macOS solution.

[2017-08-01 08:23] daniel-abramov commented on #4
I'm not sure if I still have these callback-related changes, but I'll take a look, maybe they're still staging in some of the local repositories.

Other changes (which were more or less stable and used by me in some software products) are  accessible from a fork repository at https://github.com/snapview/systray-rs (but they do not support callbacks though).

I've noticed that my fork is now behind

[2017-08-01 08:25] zaaack commented on #4
@application-developer-DA Thanks! These will help a lot.

[2017-08-01 16:07] daniel-abramov commented on #4
Ok, I rebased the current state from my fork and created a pull request. Check it out.

Unfortunately I did not have time to test it (i'm a bit busy at the moment), but as I know that some people may need this Mac implementation, I decided to merge it and just to run an example in Windows and to compile on other operating system to ensure that it compiles, but I'll try to do more tests in a near f

[2017-08-01 21:43] zaaack commented on #4
@application-developer-DA It's very kind of you! Although I still have no idea how to make callback with mutable borrowed application working in macos, at least here is making some progress!

[2017-08-22 14:30] daniel-abramov commented on #4
@zaaack I've recently work on some objc-runtime things which had similar issues and I think that it might be possible to implement something similar in systray-rs (I'll try to do that when I have some free time for that). In order to do that, you have to create a custom `NSMenuItem` based on your own `objc::runtime::Object` (and class declared by means of `objc::decl::ClassDecl`), this object must

[2017-09-01 20:31] thebitstick opened #23 "GTK version too old"

[2017-09-24 17:52] frewsxcv commented on #4
hey all, i looked for a rust sysbar library a few months ago and (at the time) was only aware of barfly and knew it wasn't too active, so i started a new project: https://github.com/rust-sysbar/rust-sysbar.

once i added the initial (minimal) macOS implementation, i [announced it on reddit](https://www.reddit.com/r/rust/comments/6s6l1g/announcing_the_sysbar_crate_for_creating_system/). someone in

[2017-10-02 19:03] qdot commented on #4
Cool, thanks for pointing that out! I'll try to take a look at connectr. Though, I keep saying I'm going to be back to this project and it keeps not happening, so I can't really give a good timeframe. If someone is feeling motivated enough to take over maintainership I'd be happy to discuss that, otherwise I'll hopefully start wandering back this direction soon.

[2017-10-02 19:06] jonhoo commented on #4
It'd be awesome to get macOS support, because that would immediately make [`buzz`](https://github.com/jonhoo/buzz) be cross-platform too! :D No immediate rush though -- take your time.

[2017-10-16 18:19] VOID404 commented on #21
Why is this closed? Did you managed to get it to work?
I have same problem, so I'd love to hear how.

[2017-10-16 18:32] qdot commented on #21
No, it's that our mac core isn't even done in the first place. :) See #4.

[2018-01-06 18:45] shayne opened #24 "How to use set_icon_from_buffer"
Looking at the example we get a reference to `systray::Application` which doesn't have `set_icon_from_buffer`. I see it in mod.rs (on Windows here).

[2018-01-06 19:03] shayne commented on #24
Also what encoding does the `set_icon_from_buffer` expect?

[2018-01-18 14:35] daniel-abramov commented on #24
It's useful when you have an icon representation in memory and want to use it. May be useful in cases when the icon is embedded in the executable (so that you don't need to ship a separate icon file) or when you downloaded an icon from internet (or any other similar scenario).

I tried to use it with PNG and ICO files and it worked for me (in Windows and Mac OS).

[2018-01-22 23:17] qdot opened #25 "Should this project be moved to an org?"
I keep saying I'm going to get back to working on this, and then I keep not having time. It might be good to have this project, plus libappindicator-rs/-sys handled under an org so multiple people could manage PRs and releases?

cc @application-developer-DA

[2018-01-24 11:36] daniel-abramov commented on #25
I don't have a strong opinion on that at the moment. But in case if you transfer the ownership to the organization, who will be the official maintainer then? :)

Currently it's not clear for me if `systray-rs` can become a crossplatform tray icon library, I need some time to realize if it is possible to do, without having too many OS-dependant limitations and restrictions in public interfaces.

Th

[2018-04-25 16:13] jonhoo opened #26 "Crate no longer builds due to mixed gtk dependency"
Crates that depend on `systray 0.2.0` no longer build (e.g., jonhoo/buzz#4) due to a dependency on two different versions of `gtk-sys`. Specifically,  `cargo` says:
[code]
The issue seems to arise from systray depending both on `gtk` directly and on `libappindicator`, and `libappindicator` has bumped their dependency on `gtk` to a major version ahead the one `systray` depends on directly.

[2018-04-26 03:43] qdot commented on #23
Updated to latest gtk version.

[2018-04-26 03:43] #23 closed

[2018-04-26 03:44] qdot opened #28 "Update to winapi 0.3.x"
Has been out for a while now, but will require some effort as the API changed drastically. Should also fix #16.

[2018-09-08 09:51] di3663 opened #29 "How to add submenus?"

[2018-10-30 15:48] #29 closed

[2019-04-01 04:49] readlnh opened #32 "can't use cargo run on ubuntu18.04"

[2019-05-17 14:41] f4bio opened #33 "Project state? Fork!"
hi.

No idea what @qdot 's plans for this crate is, but it seems kinda abandoned?!
So I've decided to fork it and try to continue working on it: [gitlab:f4bio/systray-rs](https://gitlab.com/f4bio/systray-rs)

I've merged #22, #32, #33, bumped crate version to 0.3.1, updated dependencies, added a working somewhat working windows example, started an macos example recently as well as integration and

[2019-05-17 17:19] qdot commented on #33
Hello! And welcome to the special hell that is open source project ownership!

So first off, I'd already posted an issue asking for help: https://github.com/qdot/systray-rs/issues/25. I suppose forking works too, as yes, I have definitely abandoned the project.

Forking is difficult because I'm still the owner of the crates.io package, so a clean handoff would also require transmission of that own

[2019-05-17 20:07] f4bio commented on #33
thanks for answering so quickly!

Initially, it wasn't really my intention to make any move in the direction of me continuing this lib by myself... But, since I really liked your approach on this, my being able to develop (or maybe "run" in this regards) on all 3 OSes simultaneously and you seem to have left this project hanging in the waters (if thats even an expression?! 😄) - my conclusion was t

[2019-05-17 20:07] #33 closed

[2019-05-18 05:30] f4bio commented on #25
As stated in #33, I am currently (and hopefully in the future) more then willing to maintain this project - and probably the other ones mentioned as well.
I think an github organization would be useful as well - because why not?

[2019-06-02 19:11] zetok opened #34 "Fails to build on Gentoo due to `libappindicator-sys v0.3.0` build failure"
Relevant part:

[code]

The same error happens regardless of whether libappindicator is installed or not.

---

Also, I'd like to say that depending on libappindicator for tray support is likely a bad idea if this library is supposed to work with all DE/WM combinations since libappindicator doesn't work in all of them (I'm assuming here that libappindicator is the only tray backend used by `systra

[2019-08-01 01:17] lucasfernog commented on #34
I installed libappindicator-gtk3 and it fixed the error on my case.

[2019-09-18 18:39] PonasKovas opened #36 "docs.rs fails to build for systray 0.4.0"
https://docs.rs/crate/systray/0.3.0

Is this project dead?

[2019-12-26 08:35] gentoo90 commented on #25
If no one's willing to create an organization, then maybe it could be added to the [Rust Unofficial](https://github.com/rust-unofficial/about) organization?

[2019-12-26 19:08] qdot commented on #25
Good news is, I'm back to writing a *lot* of rust now (https://github.com/buttplugio/buttplug-rs), so there's a chance this could get some updates again. I can at least get back to accepting PRs.

Main holdup right now is that libappindicator and bindgen have changed quite a bit since I wrote this 3 years ago, so trying to bring the dependencies up to date first has been a challenge.

[2020-02-14 21:09] truermz commented on #17
I got the same problem

[2020-02-14 21:13] qdot commented on #25
I'm gonna go ahead and close this since I'm hopefully taking care of this again now. libappindicator has been updated, I'll be bringing in Rust 2018 reformatting this weekend, and probably releasing 0.4 within the next few weeks.

[2020-02-14 21:13] #25 closed

[2020-02-14 21:14] qdot commented on #34
libappindicator has been updated, so this should work now. Please refile if this becomes an issue again.

[2020-02-14 21:14] #34 closed

[2020-02-16 00:15] qdot commented on #36
Ok, looks like docs.rs building is still a problem on 0.4.0, due to the special requirements of the libappindicator library. I need to make a "docs" feature that would just build the generic API portions.

[2020-02-16 00:16] qdot commented on #32
Should work on 0.4.0 now.

[2020-02-16 00:16] #32 closed

[2020-02-16 00:16] qdot commented on #28
Done in 0.4.0

[2020-02-16 00:16] #28 closed

[2020-02-16 00:17] qdot commented on #19
I think this is done in 0.4.0.

[2020-02-16 00:17] #19 closed

[2020-02-16 00:18] qdot commented on #17
This seems to still be an issue in 0.4.0. Not sure why?

[2020-02-16 00:18] qdot commented on #16
Done in 0.4.0

[2020-02-16 00:18] #16 closed

[2020-02-16 00:22] qdot commented on #4
Working with @application-developer-DA's patches from snapview/systray-rs now. Things compile, but crash on the example.

[2020-02-16 17:04] jonhoo commented on #36
Alternatively you can ask the docsrs people (on Discord) whether they could add `libappindicator` to the VM that builds the docs. They're pretty helpful with stuff like that generally!

[2020-02-28 10:40] woubuc opened #38 "Manually call loop"
Right now this library expects the user to call `app.wait_for_message()` which causes the app to loop indefinitely, locking the thread until the app exits.

However, I want to run some custom logic in my app loop and then update the tray icon based on that logic (change the icon & update some menu items). Is it possible to just call the update function from my own loop, rather than have this libra

[2020-03-12 11:09] cdepillabout commented on #36
If you go to docs.rs for [systray-0.4.0](https://docs.rs/crate/systray/0.4.0), you can find a build log for the failed 0.4.0 build:

https://docs.rs/crate/systray/0.4.0/builds/221996

At the bottom of this page, there is a link to [open an issue](https://github.com/rust-lang/docs.rs/issues/new/choose) in case of a build failure.

 If you try to open an issue, you are presented with this comment:

[2020-03-15 04:18] lucasfernog commented on #34
I had to install `clang` (I'm using Arch Linux), because I was getting this:

[code]

I don't know if this is documented.

[2020-03-30 02:42] alexandrvicente commented on #4
Implemented on #40, still didn't have time to test on other platforms to be sure that nothing stopped working with the changes I made to src/lib.rs though.

[2020-04-03 08:56] 2ndTaleStudio commented on #8
Hey there, is this being worked on? The issues related to disable, delete, update menu items seem to be here already for quite a while and I'd love to see this functionality coming as we'd require this for our current project.

Thx in advance for any feedback on this.

[2020-04-04 07:04] qdot commented on #8
The project is being actively worked on (or at least I've got some PRs to bring in), but this issue isn't currently.

[2020-05-31 14:01] retep998 commented on #36
Perhaps you could also set Windows as the default target, since that has no dependencies on third party C libraries, just `winapi`. If the primary target fails to build then docs.rs won't build any docs for *any* target.

[2020-07-05 20:56] nicolasbauw commented on #24
Could you please give an example ?
I've tried with include_bytes!, with 128*128 ICOs and PNGs,  and I always obtain an "Error setting icon from buffer".
I tried on Windows.

[2020-07-06 08:49] Cinimajig opened #44 "Windows: Possible problem with set_icon_from_buffer (with possible fix)"
I wanted to use ```set_icon_from_buffer```, with an embeded icon from the ```incude_bytes!``` macro, but i kept getting the Error "Cannot load icon from the buffer: 0". The icon worked fine with ```set_icon_from_file```, so that wasnt the issue.

After looking at the code I looked up some of the documentaion on the Windows API and discovered a mistake with the use of ```CreateIconFromResourceEx```

[2020-07-09 14:45] Ciantic commented on #24
I also wonder how to do this, I tried with `.ico` file, but it doesn't work for me in Windows 10.

[code]

[code]

[2020-07-09 15:04] Ciantic commented on #24
I found the bug, this should contain the length:

https://github.com/qdot/systray-rs/blob/cbddc6ebf78544584945628191bd56bf6ab731f8/src/api/win32/mod.rs#L421

PR here https://github.com/qdot/systray-rs/pull/45

Btw, if you use VSCode you can monkey patch the systray: *Go to definition*, then just writing over the file inside the .cargo registry cache. Then just `cargo clean` in your project.

[2020-07-09 18:07] qdot commented on #24
I've got some libappindicator updates to bring in too, so I'll try to get this in and get a new release out in the next few days.

[2020-07-09 18:25] nicolasbauw commented on #44
I indeed have this issue, too. This fix works fine with ICO files. See PR #45.

[2020-07-09 18:29] Ciantic opened #46 "When explorer.exe dies e.g. coming from fullscreen game, icon disappears"
1. Open program with systray-rs
2. Kill explorer.exe
3. Start explorer.exe

Notice that the icon created by systray-rs does not re-appear.

Usually this is done with listening for [TaskbarCreated message](https://docs.microsoft.com/en-us/windows/win32/shell/taskbar#taskbar-creation-notification) and recreating an icon.

[2020-07-09 19:23] Ciantic commented on #36
If windows target is all that is required, it could be done by just adding this to Cargo.toml

[code]

[2020-07-14 11:22] Ciantic commented on #13
I did trayicon API ([trayicon-rs](https://github.com/Ciantic/trayicon-rs/)) with sender idea, so that you can plug your own sender (e.g. winit's EventLoop, or std::mpsc::channel::Sender) and the trayicon does not have main loop. It works great e.g. with winit because it inits main loop already. I didn't want my trayicon to have main loop.

[2020-07-15 16:44] andrewdavidmackenzie commented on #4
Any thoughts on merging efforts with https://github.com/rust-sysbar/rust-sysbar that would like to add linux and window support?

I was looking to this project for clues and code to contribute that to rust-sysbar, but maybe best the maintainers consider a merge?

[2020-07-15 16:48] andrewdavidmackenzie opened #47 "Linux Build issue"
Iḿ having problems building on linux (Fedora 30)

Ive had a nightmare with gio/gtk version issues on other projects and suspect this maybe related, but Im pretty lost debugging it.

Are there specific requirements for GTK versions installed, or version "features" that I need to force in Cargo.toml?

Thanks for any pointers.

[code]

[2020-07-16 01:38] qdot commented on #47
You need to install the libappindicator3 package.

[2020-07-16 01:45] qdot commented on #4
Not sure how much I'd trust this project for clues, heh. I wrote most of this in mid-2016, it was one of my first rust projects, and it hasn't really been updated since. It really needs a complete overhaul.

I've been saying I'd get back to this at some point but that's looking less and less likely. My expertise is in device interfaces, not windowing systems, so this tends to stay on the back burn

[2020-07-16 08:21] andrewdavidmackenzie commented on #47
I have it installed already:

[code]
(on Fedora)

and same error.

[2020-07-16 08:28] andrewdavidmackenzie commented on #4
OK, I understand- Time is a precious resource hard to come by.

trayicon-rs is windows only I think, and the priority order I was looking for was macos, linux, windows..... and I currently dont have a windows machine to develop on, just mac and linux.... so Ill leave it for now.

We need to merge all three projects (or the dependencies and how to use them) to get a true cross-platform approach

[2020-07-16 18:30] qdot commented on #4
In my experience, if you aren't designing for all the systems you want to support at once, you're going to have a Bad Time when you claim your library is cross platform. I see this a lot in Rust, with projects dropping windows to the lowest support priority, and then wondering why the community has traction problems outside of network services and posix utility replacements.

For a project to be c

[2020-07-24 14:02] WeaponMan commented on #47
I would say you need `libappindicator-gtk3-devel` for the build.

[2020-07-24 18:07] andrewdavidmackenzie commented on #47
Got devel installed too, same error.

[2020-07-24 18:08] WeaponMan commented on #47
got `pkg-config` installed?

[2020-07-24 18:12] andrewdavidmackenzie commented on #47
Yes, but it doesn’t show any info about this lib....so not sure if related to how yum/dnf installs it or what?

[2020-07-24 18:19] WeaponMan commented on #47
Try to run `pkg-config -cflags --libs appindicator3-0.1` or `pkg-config -cflags --libs appindicator3`
(the first one works one my system but I dont use fedora)

[2020-07-24 18:21] WeaponMan commented on #47
and you will probly need other -devel libraries for gtk3

[2020-07-25 19:45] jyn514 commented on #36
Fixed by https://github.com/rust-lang/crates-build-env/pull/59. I queued a rebuild so you don't have to publish a new release :) https://docs.rs/crate/systray/0.4.0

[2020-07-25 19:49] GopherJ opened #48 "run example code on linux mintv20 nothing happens"
Hi, does this crate work on linux mint v20? I tried to run example code but nothing happens

[2020-07-25 21:11] qdot commented on #36
@jyn514 Thanks! 👍

[2020-07-25 21:11] #36 closed

[2020-07-27 19:16] andrewdavidmackenzie commented on #47
Got gtk3-devel installed.

Trying your pkg-config line:
[code]

Looking for that file:
[code]

Nothing is found.

Not sure what installs that, this is everything `appindicator` related I can find:

[code]

so, package of pkg_config is not installed, despite having all this installed:
[code]

[code]

[code]

[code]

[2020-07-28 12:50] andrewdavidmackenzie commented on #47
OK, on a different linux installation it seems I have the .pc file, but the directory (`/usr/lib/pkgconfig/`) was not in PKG_CONFIG_PATH, so after configuring that - it built!

Thanks for the help.

[2020-07-28 12:58] andrewdavidmackenzie commented on #47
Declared victory too soon.

This is a first for me on a rust project (libappindicator-rs is the source of the issues).
`cargo build` completes successfully but `cargo test` and `cargo run ...` fail with this linker problem:

[code]

maybe it's a 32/64 bit issue?

[2020-07-28 13:30] WeaponMan commented on #47
I guess its not 32/64 issue.
If I take a look at my binary with `ldd` it outputs `libappindicator3.so.1 => /usr/lib/libappindicator3.so.1 (0x00007f99517d9000)`
Maybe making these symlinks would help not sure tho.

$ ls -al /usr/lib/ | grep appin
lrwxrwxrwx   1 root root        25 Jul  3 15:30 libappindicator3.so -> libappindicator3.so.1.0.0
lrwxrwxrwx   1 root root        25 Jul  3 15:30 libappind

[2020-07-28 13:58] andrewdavidmackenzie commented on #47
Thanks for the help. Sorry I'm not very expert on this...

I understand that these checks are done by build.rs build scripts using a pkg-config crate. How do I change things to use `/usr/lib64/pkgconf`?

my /usr/lib and /usr/lib64 do not seem to be linked:
[code]

By default my pkg-config is:
[code]

[2020-07-28 14:00] andrewdavidmackenzie commented on #47
in case relevant....I found this reading help:

[code]

[2020-07-28 14:02] WeaponMan commented on #47
For 64bit `export PKG_CONFIG_PATH=/usr/lib64/pkgconfig`
For 32bit `export PKG_CONFIG_PATH=/usr/lib/pkgconfig`
imho

[2020-07-28 14:12] andrewdavidmackenzie commented on #47
Haha, when I switch to 64 bits.... I get right back to my very first error message that started this :-)

But, I interpret that to mean that pkgconfig is not finding the 64 bit version of this library and maybe it's not being installed by yum.

I have looked at all the .so files that are installed and that the linker finds (but skips as incompatible) and they are all 32bit...

from the cc comman d

[2020-07-28 14:18] andrewdavidmackenzie commented on #47
[code]

and

[code]

[2020-07-28 14:22] WeaponMan commented on #47
That will explain why there is no x86_64 version.
`sudo yum install libappindicator-gtk3-devel.x86_64`

[2020-07-28 16:22] andrewdavidmackenzie commented on #47
Yeh! Success. Thanks so much for your patience and help.

[2020-07-28 16:23] #47 closed

[2020-07-28 17:08] qdot commented on #47
Ok, well, wow, congrats on figuring this out because I would've had *no* clue. Should I add this to the libappindicator-rs project README?

[2020-07-28 18:09] andrewdavidmackenzie commented on #47
I suspect it's a failure of my set-up, but a few lines in the readme might save other people some pain: about having to install gtk, gtk-devel, libappindicator and devel, some known issues, etc

[2020-08-11 13:52] Werner1201 opened #49 "I'm not able to set a image to be a icon"
I've been trying to set a temp.jpg as the Icon on the example It always gives to me a "OS Error" on the debugger.
here's my code:

[code]

[code]

[2020-08-11 14:03] Werner1201 commented on #49
Well I discovered the problem, If I bring the image to the target/debug and make it directly from the name of the file It works. Now the question is why the library does not accept the Absolute path of the file

[2020-08-14 12:37] rafamerlin commented on #49
I just tested on mine with the complete path of the image and it worked.

I think maybe the issue is that you're missing a `:` in your path:
`D:\\pactw\\RustProjects\\teste_sys_tray\\temp.png`

[2020-08-14 12:59] Werner1201 commented on #49
Okay, it worked adding the : but I have another question. How do I set the
icon from a buffer and which type of buffer ? Because I'm using the Image
library to generate images but the Image buffer that it generates isn't
read by this crate

Em sex, 14 de ago de 2020 09:37, Rafael Merlin <notifications@github.com>
escreveu:

[2020-08-14 13:26] nicolasbauw commented on #49
I personally used the set_icon_from_buffer() function and a buffer set with the include_bytes! macro (because I embed the icon in the binary) but this function seems to work only with .ICO data.

[code]

[2020-08-14 14:04] Werner1201 commented on #49
Okay I'll try that, but I think it'll not be as optimized as I thought.
Because I'm using a request to a weather API and then creating an image
with the temperature then setting this icon to the systray. What I'm
seeking is to eliminate the need to create the file and only use things
internally. The link to my project is [here](https://github.com/Werner1201/weather_tray-rs) if you want to help me,

[2020-08-17 20:33] Werner1201 commented on #49
As @nicolasbauw has already helped me in my project I will be closing this issue. If you want to Check out the solution, check my project here: (https://github.com/Werner1201/weather_tray-rs)

[2020-08-17 20:33] #49 closed

[2020-08-24 10:38] rafamerlin commented on #38
I'm trying to do the same, maybe you can use the code from this PR as it seems to do the job.
https://github.com/qdot/systray-rs/pull/43

[2020-10-04 17:21] tanekere commented on #4
so any progress on this?

[2020-10-04 18:15] qdot commented on #4
Nope.

[2020-10-21 23:08] basedtho opened #50 "Dynamic text in menu entries"
I need to set a timer and update it every minute so that one of my menu entries says "set timer (60 minutes left)". how should I go about doing that?

[2020-11-15 03:49] becerratops commented on #4
@jeffrey-p-mcateer take a look at this plz

[2020-11-15 12:28] iongrove commented on #4
You may have seen it already, but here's a good reference: https://github.com/zserge/tray

[2020-11-16 18:52] bedax commented on #4
You may have seen it already, but here's a good reference: https://github.com/zserge/tray